<div id = "sign_in" >
   <div class="user_common">
      <h1>登录</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="email ui input">
          <%= f.email_field :email, autofocus: true, placeholder: "你的邮箱" %>
        </div>

        <div class="email ui input">
          <%= f.password_field :password, autocomplete: "off", placeholder: "密码"%>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div style="display: inline-block; width: 100%;  position: relative;left: 3%;">
            <div style="float: left">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, '记住我' %>
            </div>
            <a href="<%= new_password_path(resource_name) %>" style="float: right">忘记密码</a>
          </div>
        <% end -%>
         <div id="buttons">
            <div class="login_button">
              <%= f.submit "登录", class: "ui primary button submit" %>
            </div>
          
            <a href="<%= new_registration_path(resource_name)%>">
                <div class="ui button submit signup_button">
                    注册
                </div>
            </a>
         </div>
      <% end %>
   </div>
</div>